@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to .NET Project created in VS Code.</h1>
    <h2>This application is running as a Docker Container !!</h2>
</div>